.prediction__container {
  min-height: 539px;
  display: grid;
  align-items: end;
  justify-items: center;
}

@media (min-width: 321px) {
  .prediction__container_point_2 {
    min-height: calc(539px + (1010 - 539) * ((100vw - 321px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .prediction__container {
    min-height: 1010px;
  }
}
