.select__item {
  margin: 0;
  text-align: center;
  padding: 5px;
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.164);
  cursor: pointer;
}

.select__item:hover {
  background-color: rgba(0, 0, 0, 0.082);
}

@media (min-width: 321px) {
  .select__item {
    padding: calc(5px + (13 - 5) * ((100vw - 320px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .select__item {
    padding: 13px;
  }
}
