.record__progress {
  -webkit-appearance: none;
  width: 259px;
  height: 5px;
  border: 0;
}

.record__progress::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 5px;
}

.record__progress::-webkit-progress-value {
  background-color: #f6c866;
  border-radius: 5px;
}

.record__progress::-moz-progress-bar {
  background-color: #f6c866;
  border-radius: 5px;
}
