.footer__container {
  margin: auto;
  height: 17px;
  max-width: 300px;
  overflow-y: scroll;
}

.footer__container::-webkit-scrollbar {
  width: 5px;
  background: rgba(92, 92, 92, 0.048);
  border-radius: 7em;
}

.footer__container::-webkit-scrollbar-thumb {
  border-radius: 7em;
  background: rgba(92, 92, 92, 0.116);
}

.footer__container:hover::-webkit-scrollbar {
  background: rgba(92, 92, 92, 0.336);
}

.footer__container:hover::-webkit-scrollbar-thumb {
  background: rgba(92, 92, 92, 0.603);
}

.footer__container::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

.footer__container::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

@media (min-width: 321px) {
  .footer__container {
    height: calc(17px + (32 - 17) * ((100vw - 321px) / (1440 - 321)));
    max-width: calc(300px + (498 - 300) * ((100vw - 321px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .footer__container {
    height: 32px;
    max-width: 498px;
  }
}
