.header__title {
  margin: 14px 0 7px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 320px) {
  .header__title {
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(14px + (19 - 14) * ((100vw - 320px) / (1440 - 320)));
    margin: calc(14px + (37 - 14) * ((100vw - 320px) / (1920 - 320))) 0
      calc(7px + (18 - 7) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 16px;
    line-height: 19px;
    margin: 37px 0 18px;
  }
}
