.header__title {
  margin: 14px 0 7px;
}

@media (min-width: 320px) {
  .header__title {
    margin: calc(14px + (37 - 14) * ((100vw - 320px) / (1920 - 320))) 0
      calc(7px + (18 - 7) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (min-width: 1440px) {
  .header__title {
    margin: 37px 0 18px;
  }
}
