.select__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(228, 228, 228, 0.9) -6.2%,
    rgba(203, 203, 203, 0.9) 100%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  /*   border-radius: 25px 25px 0 0; */
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.select__header::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 7.5px 0 7.5px;
  border-color: #202024 transparent transparent transparent;
  right: 12px;
}

.select__header:hover {
  color: #ffffff;
}

@media (min-width: 321px) {
  .select__header {
    height: calc(40px + (70 - 40) * ((100vw - 320px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .select__header {
    height: 70px;
  }
}
