.prediction__text_point_2 {
  font-size: 14px;
  max-width: 248px;
  line-height: 20px;
  text-align: center;
  opacity: 0.6;
  align-self: center;
}

@media (min-width: 321px) {
  .prediction__text_point_2 {
    max-width: calc(248px + (445 - 248) * ((100vw - 321px) / (1440 - 321)));
    font-size: calc(14px + (25 - 14) * ((100vw - 321px) / (1440 - 321)));
    line-height: calc(20px + (35 - 20) * ((100vw - 321px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .prediction__text_point_2 {
    max-width: 445px;
    font-size: 25px;
    line-height: 35px;
  }
}
