.massage {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 84px;
  min-width: 259px;
  border-radius: 5px;
  position: relative;
}

.massage::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 8.5px 0 8.5px;
  border-color: #ffffff transparent transparent transparent;
  bottom: -8px;
  right: 17.1px;
}

@media (min-width: 321px) {
  .massage {
    padding: calc(0px + (8 - 0) * ((100vw - 321px) / (1440 - 321)));
  }
  .massage::after {
    border-width: calc(17px + (32 - 17) * ((100vw - 321px) / (1440 - 321)))
      calc(8.5px + (16 - 8.5) * ((100vw - 321px) / (1440 - 321))) 0
      calc(8.5px + (16 - 8.5) * ((100vw - 321px) / (1440 - 321)));
    bottom: calc((-8px) + ((-19) - (-8)) * ((100vw - 321px) / (1440 - 321)));
    right: calc(17.1px + (26.1 - 17.1) * ((100vw - 321px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .massage {
    padding: 8px;
  }

  .massage::after {
    border-width: 32px 16px 0 16px;
    bottom: -19px;
    right: 26.1px;
  }
}
