.text_type_m {
  font-size: 16px;
  line-height: 25px;
}

.prediction .text_type_m {
  max-width: 267px;
}

@media (min-width: 321px) {
  .text_type_m {
    font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(25px + (35 - 25) * ((100vw - 320px) / (1440 - 320)));
  }

  .prediction .text_type_m {
    max-width: calc(267px + (645 - 267) * ((100vw - 320px) / (1440 - 320)));
  }
}

@media (min-width: 1440px) {
  .text_type_m {
    font-size: 25px;
    line-height: 35px;
  }
  .prediction .text_type_m {
    max-width: 645px;
  }
}
