@import '../vendor/normalize.css';
@import '../blocks/body/body.css';
@import '../blocks/page/page.css';
@import '../blocks/block/block.css';
@import '../blocks/text/text.css';
@import '../blocks/text/_type/text_type_s.css';
@import '../blocks/text/_type/text_type_m.css';
@import '../blocks/text/_type/text_type_l.css';
@import '../blocks/text/_color/text_color_gray.css';
@import '../blocks/text/_color/text_color_yellow.css';
@import '../blocks/text/_color/text_color_white.css';
@import '../blocks/header/header.css';
@import '../blocks/header/__title/header__title.css';
@import '../blocks/spinner/spinner.css';
@import '../blocks';
@import '../blocks/forecast/forecast.css';
@import '../blocks/btn/btn.css';
@import '../blocks/btn/_color/btn_color_yellow.css';
@import '../blocks/btn/_margin/btn_margin_s.css';
@import '../blocks/btn/_size/btn_size_m.css';
@import '../blocks/forecast/__container/forecast__container.css';
@import '../blocks/to-upper-case/to-upper-case.css';
@import '../blocks/forecast/__image/forecast__image.css';
@import '../blocks/forecast/__text/forecast__text.css';
@import '../blocks/forecast/__title/forecast__title.css';
@import '../blocks/forecast/__note/forecast__note.css';
@import '../blocks/advice/advice.css';
@import '../blocks/advice/__container/advice__container.css';
@import '../blocks/advice/__text/advice__text.css';
