@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@300;400;500;700&display=swap');
@import '../vendor/normalize.css';
@import '../blocks/body/body.css';
@import '../blocks/page/page.css';
@import '../blocks/block/block.css';
@import '../blocks/text/text.css';
@import '../blocks/text/_type/text_type_s.css';
@import '../blocks/text/_type/text_type_m.css';
@import '../blocks/text/_type/text_type_l.css';
@import '../blocks/text/_color/text_color_gray.css';
@import '../blocks/text/_color/text_color_yellow.css';
@import '../blocks/text/_color/text_color_white.css';
@import '../blocks/text/_opacity/text_opacity_06.css';
@import '../blocks/header/header.css';
@import '../blocks/header/__title/header__title.css';
@import '../blocks/spinner/spinner.css';
@import '../blocks';
@import '../blocks/forecast/forecast.css';
@import '../blocks/btn/btn.css';
@import '../blocks/btn/_color/btn_color_yellow.css';
@import '../blocks/btn/_margin/btn_margin_s.css';
@import '../blocks/btn/_size/btn_size_m.css';
@import '../blocks/forecast/__container/forecast__container.css';
@import '../blocks/to-upper-case/to-upper-case.css';
@import '../blocks/forecast/__image/forecast__image.css';
@import '../blocks/forecast/__text/forecast__text.css';
@import '../blocks/forecast/__title/forecast__title.css';
@import '../blocks/forecast/__note/forecast__note.css';
@import '../blocks/advice/advice.css';
@import '../blocks/advice/__container/advice__container.css';
@import '../blocks/advice/__text/advice__text.css';
@import '../blocks/medium-span/medium-span.css';
@import '../blocks/evidence/evidence.css';
@import '../blocks/evidence/__text/evidence__text.css';
@import '../blocks/prediction/prediction.css';
@import '../blocks/prediction/_point/prediction_point_1.css';
@import '../blocks/prediction/_point/prediction_point_2.css';
@import '../blocks/prediction/__title/prediction__title.css';
@import '../blocks/prediction/__text/prediction__text.css';
@import '../blocks/prediction/__text/_point/prediction__text_point_1.css';
@import '../blocks/prediction/__text/_point/prediction__text_point_2.css';
@import '../blocks/prediction/__rune/prediction__rune.css';
@import '../blocks/prediction/__note/prediction__note.css';
@import '../blocks/prediction/__container/prediction__container.css';
@import '../blocks/prediction/__container/_point/prediction__container_point_1.css';
@import '../blocks/prediction/__container/_point/prediction__container_point_2.css';
@import '../blocks/prediction/__container/_point/prediction__container_point_3.css';
@import '../blocks/prediction/__container/_point/prediction__container_point_4.css';
@import '../blocks/massage/massage.css';
@import '../blocks/border-bot/border-bot.css';
@import '../blocks/footer/footer.css';
@import '../blocks/footer/__text/footer__text.css';
@import '../blocks/footer/__container/footer__container.css';
@import '../blocks/select/select.css';
@import '../blocks/select/__item/select__item.css';
@import '../blocks/select/__header/select__header.css';
@import '../blocks/select/__body/select__body.css';
@import '../blocks/select/__current/select__current.css';
@import '../blocks/select/__container/select__container.css';
@import '../blocks/loading/loading.css';
