.forecast__title {
  margin: 7px 0 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
}

@media (min-width: 321px) {
  .forecast__title {
    margin: calc(7px + (12 - 7) * ((100vw - 320px) / (1440 - 321))) 0 0;
    font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1440 - 321)));
    line-height: calc(23px + (29 - 23) * ((100vw - 320px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .forecast__title {
    margin: 12px 0 0;
    font-size: 25px;
    line-height: 29px;
  }
}
