.prediction__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 321px) {
  .prediction__title {
    font-size: calc(16px + (25 - 16) * ((100vw - 321px) / (1440 - 321)));
    line-height: calc(19px + (29 - 19) * ((100vw - 321px) / (1440 - 321)));
  }
}

@media (min-width: 1440px) {
  .prediction__title {
    font-size: 25px;
    line-height: 29px;
  }
}
