.prediction__text {
  font-family: 'Bad Script', sans-serif;
  margin: 0;
  text-align: center;
}

@media (min-width: 1440px) {
  .prediction__text {
    font-size: 25px;
    line-height: 35px;
  }
}
