.prediction {
  position: relative;
}

.prediction::after {
  content: '';
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url('../../images/eye.svg');
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.2;
}

.prediction::before {
  content: '';
  position: absolute;
  width: 83.64px;
  height: 44.13px;
  background-image: url('../../images/eye-1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

@media (min-width: 1440px) {
  .prediction {
    margin: auto;
    max-width: 1440px;
  }

  .prediction::before {
    transform: rotate(1deg);
  }
}
