.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 1440px) {
  .header {
    width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
